<div class="picker-thumbnail">
  <div class="picker-preview"></div>
  <%= cl_image_tag @hologram.video, :format=>"jpg"%>
</div>
<canvas id="picker-cs"></canvas>
<div class="picker-result">
  <span>HEX: #22142b</span>
  <span>RGB: rgb(34,20,43)</span>
</div>
