<div class="live-hologram" style='margin : 0px; overflow: hidden; font-family: Monospace;'>
</div>
<script>
  window.holoVideo =  "<%= @videoUrl %>";
  window.holoDepth =  "<%= @depthUrl %>";
  window.holoQRPatt = `${window.location.protocol}//${window.location.host}/holograms/<%= @hologram.id %>/pattern.txt`;
  window.holoBackground = "<%= @hologram.background.blank? ? "#00D432" : @hologram.background %>";
</script>
