<div class="new-form-progress list-group">
    <div class="new-form-progress-20 list-group-item">
      <p>Test the awesomeness of the video</p>
      <p>Success ✅</p>
    </div>
    <div class="new-form-progress-40 list-group-item">
      <p>Open the multi-dimensional portal</p>
      <p>Success ✅</p>
    </div>
    <div class="new-form-progress-60 list-group-item">
      <p>Chatty chat with our other dimension twin</p>
      <p>Success ✅</p>
    </div>
    <div class="new-form-progress-80 list-group-item">
      <p>Get the hologram from the multi-dim brewer</p>
      <p>Success ✅</p>
    </div>
    <div class="new-form-progress-100 list-group-item">
      <p>The hologram's almost ready...! ☕️</p>
      <p>Success ✅</p>
    </div>
  </div>
