.new-form-title {
  margin: 40px 0px;
  color: $light-blue;
}

.new-form-progress{
  margin: 16px 0;
  div{
    display: none;
    justify-content: space-between;
    align-items: center;
  }
  p {
    margin: 0;
  }
}
