.new-form-title {
  margin: 40px 0px;
  color: $light-blue;
}

.container-hologram.small.mobile {
  display: none;
}

.new-form-progress{
  margin: 16px 0;
  div{
    display: none;
    justify-content: space-between;
    align-items: center;
  }
  p {
    margin: 0;
  }
}

@media (max-width: 576px) {
  .container-hologram.small.mobile {
    display: block;
  }
  .container-hologram.small.laptop {
    display: none;
  }
}
