.hologram-header {
  padding: 72px 20px;
}

.hologram-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    margin: 0px 36px;
  }
  h1 {
    font-size: 48px;
  }
  p {
    margin: 0;
  }
}

.hologram-actions {
  display: grid;
  margin-top: 16px;
  grid-template-columns: 1fr 1fr 4fr;
  grid-gap: 16px;
}

.hologram-info {
  padding: 36px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.1);
  img {
    margin-bottom: 10px;
  }
  h3 {
    color: $light-blue;
    font-size: 24px;
  }
}

#hologram-qrcode {
  width: 50%;
  padding-right: 30px;
}

.hologram-description {
  flex-grow: 1;
  img {
    height: 20vw;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    background-color: black;
    opacity: 0.5;
  }
}

.hologram-demo {
  margin: 56px 0;
  h2 {
    text-align: center;
    margin: 20px 0;
    color: $light-blue;
  }
}
.digital-qr-frame {
  padding: 8px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.1);
  width: 100%;
}

.digital-qr {
  height: 400px;
  cursor: grab;
}

.digital-qr:active {
  cursor: grabbing;
}

@media (max-width: 992px) {
  .hologram-header {
    padding: 48px 20px;
  }
  .hologram-title {
    h1 {
      font-size: 32px;
    }
  }
  p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .hologram-header {
    padding: 36px 20px;
  }
  .hologram-title{
    h1 {
      font-size: 24px;
    }
    img {
      margin: 0;
    }
  }

  .hologram-description {
    h3 {
      font-size: 16px;
    }
  }
  p {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .hologram-header {
    padding: 24px 0px;
  }
  .hologram-title {
    h1 {
      font-size: 16px;
      margin: 0;
    }
    img {
      margin: 0;
      width: 64px;
      height: 64px;
    }
    p {
      font-size: 10px;
    }
  }

  .hologram-info {
    display: block;
  }

  #hologram-qrcode {
    width: 100%;
    padding: 10px;
  }

  .hologram-description {
    img {
      display: none;
    }
    h3 {
      font-size: 16px;
    }
  }
  p {
    font-size: 12px;
  }
  .hologram-demo {
    display: none;
  }
}
