.button-text-light-blue {
  color: $light-blue;
  font-size: 24px;
}

.button-light-blue {
  background-color: $light-blue;
  color: white;
}

.btn-primary {
  background-color: $light-blue;
  border: none;
}

.btn-danger {
  background-color: rgba(200,0,0,0.5);
  border: none;
}
