.card-hologram {
  padding: 16px;
  border-radius: 4px;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.1);
  background-color: white;
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 50% 30%;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
  }
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 16px;
  }
  position: relative;
}

.button-delete {
  position: absolute;
  top: -8px;
  right: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card-hologram-title {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
    font-weight: 24px;
  }
}

.card-hologram-description {
  height: 90px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
    margin:0;
  }
  span {
    color: $light-blue;
  }
}

.card-welcome {
  position: relative;
  margin: 56px 16px;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.1);
  background-color: white;
  display: flex;
  align-items: center;
  img {
    width: 360px;
    height: 300px;
    object-fit: cover;
    object-position: 70% 50%;
  }
  .card-welcome-info {
    margin-left: 16px;
    .card-welcome-text {
      margin-bottom: 32px;
      h2 {
        color: $light-blue;
        font-size: 24px;
      }
      h2.mobile {
        display: none;
      }
      a {
        color: rgba(170,170,170,1);
      }
    }
  }
}

@media screen and (max-width:800px) {
  .card-welcome {
    display: block;
    img {
      width: 100%;
      height: 200px;
      margin-bottom: 16px;
    }
    .card-welcome-info {
      margin-left: 0px;
    }
  }
}
@media screen and (max-width:768px) {
}

@media screen and (max-width:576px) {
  .card-welcome {
    margin: 24px 16px;
    img {
      height: 100px;
    }
    .card-welcome-info {
      .card-welcome-text {
        h2.desktop {
          display: none;
        }
        h2.mobile {
          display: block;
        }
      }
    }
    .button-light-blue {
      font-size: 12px;
    }
  }
}
